.share {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  box-shadow: 3px 7px 18px -8px #0d0d12;
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput {
  width: 100%;
  border: none;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareButtons {
  display: flex;
  margin-left: 20px;
}

.shareButton {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  margin-right: 3px;
}

.shareIconText {
  font-size: 14px;
  font-weight: bold;
}

.sharePostButton {
  border: none;
  padding: 6px 17px;
  background-color: #2c517c;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
