.rightbarTitle {
  margin-bottom: 20px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbarOnlineBadge {
  background-color: purple;
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  top: -2px;
  left: 0;
}

.rightbarUserName {
  font-weight: 550;
}

.promotionTitle {
  font-size: 18px;
  font-weight: bold;
}

.rightbarPromotionImg {
  width: 85%;
  border-radius: 10px;
  margin: 15px 0 0 0;
}

.promotionName {
  font-size: small;
  color: gray;
}

.rightbarTitle {
  font-size: 18px;
  font-weight: 550;
}

.rightbarInfo {
  margin-bottom: 50px;
}

.rightbarInfoItem {
  margin-bottom: 10px;
  /* background-color: aqua; */
}

.rightbarInfoKey {
  font-weight: bold;
  margin-right: 5px;
  color: #555;
}

.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}
